

.topnav {
    /* Rectangle 13 */

    width: 100vw;
    height: 67px;
    left: -3px;
    

    background: #d3d3ff;
    border-radius: 20px;
}
.profileUser {
    position: absolute;
    display: flex;
    left: 1200px;
    top: 5px;
}
.profileUser img {
    /* image 43 */

    width: 53px;
    height: 55px;

    border-radius: 50px;
}

.topnav a{
  font-size: 23px;
  font-weight: 500;
    color:#5E5EC6;
}
.col-2{
  display: flex ;

}.col-2 a{
  margin-left: 15px;
  margin-top: 15px;
}
.col-8{
  display:flex;
  justify-content:left;
  padding: 17px;
  
}

.col-2 svg{
  width: 50px;
  margin-left: 15px;
  margin-top: 5px;

}
