<div class="row">
<div class="col-4">
  <div>
  <div *ngFor="let user of users$ | async; index as i; first as isFirst">
    <p>
       {{user.chatBoxName}}
    </p>
  </div>
   
  </div>
</div>
<div class="col-8">
  <div class="header-chat">
    <!-- <p>{{}}</p> -->
  </div>
 <div *ngFor="let message of messages">
  {{ message}}
</div>
  <div class="chat-input">
                    <input
                        [(ngModel)]="messageContent"
                        placeholder="Type your message here"
                    />
                    <button (click)="sendMessage(messageContent)">Send</button>
                    
                </div>
               
  <div>

  </div>
</div>

</div>