<div class="row">
<div class="col-4">
  <div class="header">
  <p>  Danh sách tin nhắn</p>
  </div>
  <div>
  
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aut quaerat libero excepturi earum mollitia voluptas eos dolores accusamus asperiores rem, error numquam eum doloribus ratione repellat inventore delectus dolor.
    </p>
  </div>
</div>
<div class="col-8">
  <p> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quidem molestiae optio natus vitae suscipit ipsam, illo sunt cum quae iusto consequuntur ab quo delectus necessitatibus sed. Eaque, consectetur debitis?
  </p>
</div>
</div>