<div class="row">
    <div class="col-4">
        <div>
            <div *ngFor="let user of users">
                <p (click)="onUserClick(user)">
                    {{ user.chatBoxName }}
                </p>
            </div>
            <!-- @for (item of users; track $index) {
            <div>{{$index}}{{item.chatBoxName}}</div>
          } -->
        </div>
    </div>
    <div class="col-8">
        <div class="header-chat">
            <!-- <p>{{}}</p> -->
        </div>
        
        <div *ngFor="let message of messageData">
            <p>
                {{ message.messageContent }}
            </p>
        </div>
        <div class="chat-input">
            <input
                [(ngModel)]="messageContent"
                placeholder="Type your message here"
            />
            <button (click)="sendMessage()">Send</button>
        </div>

        <div></div>
    </div>
</div>
